# 数据库连接字符串
DATABASE_URL="mysql://username:password@host/database?sslaccept=strict"

# 管理员配置
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
# 默认密码: password 的 SHA256 哈希
